.navbar{
    background-color: 	#4c88929c;
    height: auto;
    width: 100%;
    display: flex;
    
}
.navbar img{
    width: 8vw;
    height: 8vw;
    border-radius: 20vw;
}
.navbar ul{
    display: flex;
}
.navbar ul li {
list-style-type: none;
margin-left: 5vw;
font-size: 1.3rem;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: auto;
    background-color: black;
}